<h1 style="text-align: center;">Hospital Management</h1>

<div>

  <h2>Add New Doctor Details</h2>
  <label for="doctorid">Doctor Id: </label>
  <input type="text" name="" id="doctorid" #doctorid>

  <label for="doctorname">Doctor Name: </label>
  <input type="text" name="" id="doctorname" #doctorname>

  <label for="specialization">Doctor Specialization </label>
  <input type="text" name="" id="specialization" #doctorspecialization>

  <button (click)="addDoctor(doctorid.value, doctorname.value, doctorspecialization.value)"> 
    Add New Doctor
  </button>
  
</div>

<div>

  <h2>Add New Patients Details</h2>
  <label for="patientid">Doctor Id: </label>
  <input type="text" name="" id="patientid" #patientid>

  <label for="patientname"> patient Name: </label>
  <input type="text" name="" id="patientname" #patientname>

  <label for="patientcondition">Patient Condition </label>
  <input type="text" name="" id="patientcondition" #patientcondition>

  <button (click)="addPatient(patientid.value, patientname.value, patientcondition.value)"> 
    Add New Patient
  </button>
  
</div>

<app-doctors-data [doctors]="doctorsData"></app-doctors-data>
<app-patients-data [patients]="patientsData"></app-patients-data>